/*container geral*/
.header {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 15vh;
}
/*imagem da logo presente no header*/
.header img {
    height: 3.5em;
    width: 3.5em;
}
/*nav dentro do header*/
.header p{
    color:#045CB4;
}