.title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom:1em ;
    margin: 3em auto;
    border-bottom: 1px solid;
    width: auto;
    text-align: center;
}

.passoApasso {
    padding: 10px;
    width: 70%;
    margin: auto;
}

.passoApasso h1 {
    font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
}

.passoApasso p, ul {
    margin-bottom: 1em;
    text-align: left;
}

img {
    width: 200px;
}
