.BannerTopo img {
    width: 100%;
    height: 90vh;
}

/*Smartphones pequenos*/
@media screen and (max-width: 480px){
    .BannerTopo img {
    height: 50vh;
}
}

/*Smartphones medios - grandes*/
@media screen and (min-width: 481px) and (max-width: 767px){
    .BannerTopo img {
    height: 70vh;
}
}