/*Container principal do componente*/
.container_section {
    display: flex;
    flex-direction: row;
    background-color: #F0F5FA;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    padding: 0.5em;
}

/*3 divs dentro do container principal*/
.container_section div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/*imagens presentes em cada um das 3 divs*/
.container_section div > img {
    width: 7em ;
    height: 7em;
}

