/*Container principal do componente*/
.container_section {
    display: flex;
    flex-direction: row;
    background-color: #F0F5FA;
    align-items: center;
    justify-content: space-evenly;
    height: 30vh;
    padding: 0.5em;
}

/*3 divs dentro do container principal*/
.container_section div {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

/*imagens presentes em cada um das 3 divs*/
.container_section div > img {
    width: 7em ;
    height: 7em;
}

/*Smartphones pequenos*/
@media screen and (max-width:480px) {
    /*Container principal do componente*/
.container_section {
    padding: 0em;
}

/*imagens presentes em cada um das 3 divs*/
.container_section div > img {
    width: 3.5em ;
    height: 3.5em;
}

.container_section > div > p {
    font-size: 10.5px;
    text-align: center;
}
}

/*smartphones medios-grandes*/
@media screen and (min-width:481px) and (max-width:767px) {

    /*Container principal do componente*/
    .container_section {
    padding: 0.3em;
}

/*imagens presentes em cada um das 3 divs*/
    .container_section div > img {
    width: 5em;
    height: 5em;
}

    .container_section > div > p {
    font-size: 12.5px;
    text-align: center;
}
}

