/*shape divider branco*/
.custom_shape_divider_top_1753224574 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_top_1753224574 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
}

.custom_shape_divider_top_1753224574 .shape_fill {
    fill: #FAFAFA;
}

/*Container global que define a sessão*/
.sessaoCanecas, .sessaoGarrafas, .sessaoXicaras, .sessaoCopos {
    position: relative;
    background-color: #C0E5CE;
    display: block;
    width: 100%;
}

.sessaoGarrafas, .sessaoCopos {
    background-color:#FAFAFA;
    margin-bottom: 5em;
}


/*Titulo e parágrafo soltos dentro do container acima do grid*/
.title, .title_black {
    width: 100%;
    padding: 10px;
    padding-top: 8em;
    text-align: center;
    font-weight: bold;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.562);
}

/*Titulos para sessões de fundo branco*/
.title_black {
    padding-top: 0em;
    color: black;
    text-shadow: none;
}

/*Container que contém os cards dos produtos*/
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    gap: 15px;
}

/*tag de link que envolve todo o container de produto*/
.grid a {
    text-decoration: none;
}

/*cards dos produtos*/
.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    height: 270px;
    max-width: 190px;
    min-width: 190px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.479);
}

/*imagens das canecas dentro dos cards de produtos*/
.produtos img {
    width: 130px;
    height: 130px;
    margin-bottom: 2em;
}

/*paragrafo e titulo dentro dos cards de produtos (abaixo das imagens)*/
.produtos p {
    color: rgb(19, 19, 19);
    text-align: center;
}

/*paragrafos de preço*/
.produtos p.preco {
    font-weight: bold;
}

/*--------------------------------------------------------MEDIAS QUERIES PARA SMARTPHONES PEQUENOS------------------------------------------------------------------------------------*/

@media screen and (max-width: 524px) {
    /*shape divider branco*/

.custom_shape_divider_top_1753224574 svg {
    height: 50px;
}

/*Container global que define a sessão*/
.sessaoCanecas, .sessaoGarrafas, .sessaoXicaras, .sessaoCopos {
    width: 100%;
}

.sessaoGarrafas, .sessaoCopos {
    margin-bottom: 2em;
}

/*Titulo e parágrafo soltos dentro do container acima do grid*/
.title, .title_black {
    padding: 5px;
    padding-top: 4em;
}

/*Titulos para sessões de fundo branco*/
.title_black {
    padding-top: 0em;
}

/*Container que contém os cards dos produtos*/
.grid {
    margin-top: 1em;
}

/*cards dos produtos*/
.produtos {
    height: 160px;
    max-width: 120px;
    min-width: 120px;
}

/*imagens das canecas dentro dos cards de produtos*/
.produtos img {
    width: 70px;
    height: 70px;
    margin-bottom: 0.5em;
}

/*paragrafo e titulo dentro dos cards de produtos (abaixo das imagens)*/
.produtos p {
    font-size: 13px;
}
}

@media screen and (min-width: 525px) and (max-width:709px) {
    /*shape divider branco*/

.custom_shape_divider_top_1753224574 svg {
    height: 50px;
}

.sessaoGarrafas, .sessaoCopos {
    margin-bottom: 2em;
}

/*Titulo e parágrafo soltos dentro do container acima do grid*/
.title, .title_black {
    padding: 5px;
    padding-top: 4em;
}

/*Titulos para sessões de fundo branco*/
.title_black {
    padding-top: 0em;
}

/*Container que contém os cards dos produtos*/
.grid {
    margin-top: 1em;
}

/*cards dos produtos*/
.produtos {
    height: 170px;
    max-width: 130px;
    min-width: 130px;
}

/*imagens das canecas dentro dos cards de produtos*/
.produtos img {
    width: 70px;
    height: 70px;
    margin-bottom: 1em;
}

/*paragrafo e titulo dentro dos cards de produtos (abaixo das imagens)*/
.produtos p {
    font-size: 13px;
}
}

/*--------------------------------------------------------MEDIAS QUERIES PARA SMARTPHONES MEDIOS GRANDES------------------------------------------------------------------------------------*/

@media screen and (min-width: 710px) and (max-width:1023px) {
    /*shape divider branco*/

.custom_shape_divider_top_1753224574 svg {
    height: 60px;
}

.sessaoGarrafas, .sessaoCopos {
    margin-bottom: 2em;
}

/*Titulo e parágrafo soltos dentro do container acima do grid*/
.title, .title_black {
    padding: 5px;
    padding-top: 4em;
}

/*Titulos para sessões de fundo branco*/
.title_black {
    padding-top: 0em;
}

/*Container que contém os cards dos produtos*/
.grid {
    margin-top: 1em;
}

/*cards dos produtos*/
.produtos {
    height: 170px;
    max-width: 130px;
    min-width: 130px;
}

/*imagens das canecas dentro dos cards de produtos*/
.produtos img {
    width: 70px;
    height: 70px;
    margin-bottom: 1em;
}

/*paragrafo e titulo dentro dos cards de produtos (abaixo das imagens)*/
.produtos p {
    font-size: 14px;
}
}