/*shape divider branco*/
.custom_shape_divider_top_1753224574 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom_shape_divider_top_1753224574 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 128px;
}

.custom_shape_divider_top_1753224574 .shape_fill {
    fill: #FAFAFA;
}

/*Container global que define a sessão*/
.sessaoCanecas, .sessaoGarrafas, .sessaoXicaras, .sessaoCopos {
    position: relative;
    background-color: #C0E5CE;
    display: block;
    width: 100%;
    height: 80vh;
}

.sessaoGarrafas, .sessaoCopos {
    background-color:#FAFAFA;
    margin-bottom: 5em;
}


/*Titulo e parágrafo soltos dentro do container acima do grid*/
.title, .title_black {
    width: 100%;
    padding: 10px;
    padding-top: 8em;
    text-align: center;
    color: white;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.562);
}

/*Titulos para sessões de fundo branco*/
.title_black {
    padding-top: 0em;
    color: black;
    text-shadow: none;
}

/*Container que contém os cards dos produtos*/
.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 2em;
    gap: 15px;
}

/*tag de link que envolve todo o container de produto*/
.grid a {
    text-decoration: none;
}

/*cards dos produtos*/
.produtos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    background-color: rgb(255, 255, 255);
    height: 270px;
    max-width: 190px;
    min-width: 190px;
    padding: 5px;
    border-radius: 8px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.479);
}

/*imagens das canecas dentro dos cards de produtos*/
.produtos img {
    width: 130px;
    height: 130px;
    margin-bottom: 2em;
}

/*paragrafo e titulo dentro dos cards de produtos (abaixo das imagens)*/
.produtos p {
    color: rgb(19, 19, 19);
    text-align: center;
}

/*paragrafos de preço*/
.produtos p.preco {
    font-weight: bold;
}